
		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<section class="links">
						<div class="row">
							<section class="3u 6u(medium) 12u$(small)">
								<h3>Projects (1)</h3>
								<ul class="unstyled">
									<li><a href="#">Postcoder API & Data</a></li>
									<li><a href="#">Docker container structure</a></li>
									<li><a href="#">WC Framework (MVC)</a></li>
									<li><a href="#">Geographic mini projects</a></li>
									<li><a href="#">Other cools things</a></li>
								</ul>
							</section>
							<section class="3u 6u$(medium) 12u$(small)">
								<h3>&nbsp;</h3>
								<ul class="unstyled">
									<li><a href="#">Screen capture</a></li>
									<li><a href="#">OS Meridian</a></li>
									<li><a href="#">XML Charts</a></li>
									<li><a href="#">News over time</a></li>
									<li><a href="#">C# Apps</a></li>
								</ul>
							</section>
							<section class="3u 6u(medium) 12u$(small)">
								<h3>Development</h3>
								<ul class="unstyled">
									<li><a href="#">Docker</a></li>
									<li><a href="#">Vagrant</a></li>
									<li><a href="#">Twig</a></li>
									<li><a href="#">Digital Ocean</a></li>
									<li><a href="#">Github</a></li>
								</ul>
							</section>
							<section class="3u$ 6u$(medium) 12u$(small)">
								<h3>Data</h3>
								<ul class="unstyled">
									<li><a href="#">data.gov.uk</a></li>
									<li><a href="#">facutal.org</a></li>
									<li><a href="#">datavia.com</a></li>
									<li><a href="#">Tempore nam, enim quia</a></li>
									<li><a href="#">Explicabo molestiae dolor labore</a></li>
								</ul>
							</section>
						</div>
					</section>
					<div class="row">
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>&copy; webcoding. all rights reserved.</li>
								<li>design: <a href="http://templated.co">TEMPLATED</a></li>
								<li>ubuntu 14.04 / docker</li>
								
							</ul>
						</div>
						<div class="4u$ 12u$(medium)">
							<ul class="icons">
								<li>
									<a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
								</li>
								<li>
									<a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
								</li>
								<li>
									<a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
								</li>
								<li>
									<a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>

	</body>
</html>