
		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<section class="links">
						<div class="row">
							<section class="3u 6u(medium) 12u$(small)">
								<h3>projects <li class="fa fa-code"></li></h3>
								<ul class="unstyled">
									<li><a href="/postcodeapi">postcoder api and data</a></li>
									<li><a href="/dockercontainer">docker container structure</a></li>
									<li><a href="/wcframework">wc mvc framework</a></li>
									<li><a href="/geoprojects">gro projects</a></li>
									<li><a href="/toys">cools toys etc</a></li>
								</ul>
							</section>
							<section class="3u 6u$(medium) 12u$(small)">
								<h3>&nbsp;</h3>
								<ul class="unstyled">
									<li><a href="/screencapture">screen capture</a></li>
									<li><a href="/meridian">os meridian</a></li>
									<li><a href="/xmlcharts">xml Charts</a></li>
									<li><a href="/newsovertime">bbc news over time</a></li>
									<li><a href="/csharp">c# apps</a></li>
								</ul>
							</section>
							<section class="3u 6u(medium) 12u$(small)">
								<h3>development <li class="fa fa-code"></li></h3>
								<ul class="unstyled">
									<li><a href="http://www.docker.com">docker</a></li>
									<li><a href="https://www.vagrantup.com/">vagrant</a></li>
									<li><a href="http://twig.sensiolabs.org/">twig</a></li>
									<li><a href="https://www.digitalocean.com/">digital ocean</a></li>
									<li><a href="https://github.com/ouchiko">govithub</a></li>
								</ul>
							</section>
							<section class="3u$ 6u$(medium) 12u$(small)">
								<h3>data <li class="fa fa-code"></li></h3>
								<ul class="unstyled">
									<li><a href="http://data.gov.uk/">data.gov.uk</a></li>
									<li><a href="https://www.factual.com/">facutal.com</a></li>
									<li><a href="http://www.visualisingdata.com/">visualisingdata.com</a></li>
									<li><a href="http://www.ordnancesurvey.com">ordnancesurvey.org</a></li>

								</ul>
							</section>
						</div>
					</section>
					<div class="row">
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>&copy; webcoding. all rights reserved.</li>
								<li>design: <a href="http://templated.co">TEMPLATED</a></li>
								<li>ubuntu 14.04 / docker</li>
								
							</ul>
						</div>
						<div class="4u$ 12u$(medium)">
							<ul class="icons">
								<li>
									<a class="icon rounded fa-twitter" href="http://twitter.com/ouchy"><span class="label">Twitter</span></a>
								</li>
								<li>
									<a class="icon rounded fa-linkedin" href="http://linkedin.com"><span class="label">LinkedIn</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>

	</body>
</html>