{% include 'system/templates/head.html' %}


<!-- Main -->
<section id="main" class="wrapper">
	<div class="container">

		<header class="major">
			<h2>Docker containers</h2>
			<p>experimenting with and making use of the excellent docker</p>
		</header>

		
		<p>
			docker is awesome.  imagine building your own distributed system which works for your code.  you can run it anywhere you want. 
		</p>
		<p>
			this site is run on two docker containers via <strong>digitalocean</strong>.  the development of this website
			was done on an <strong>ubuntu</strong> installation running docker via <strong>vagrant</strong>.  how cool is that, 
			developing on your local
			computer and distributing your code and containers together ensuring everything just works.. evert time.  no more
			developing on some local configuration that you have trouble getting into a live environment.
		</p>
		<p>
			truthfully, i'm in my infancy with this technology.  i'm learning about it every day and trying to understand more
			about the possibilities and potential downsides to allowing developers to become more devops.
		</p>
		<p>
			feel free to check out my current docker implementation via <strong>github</strong>
		</p>
		<div style="text-align:center;margin-bottom:50px;">
			<a href="https://github.com/ouchiko/docker" class="button">docker implementation for webcoding</a>
		</div>
	
		

	</div>
</section>

<style>
.iconlogo img {
	height: 80px;
}
</style>

{% include 'system/templates/foot.html' %}