{% include 'system/templates/head.html' %}

<!-- Banner -->
<section id="banner">
	<h2>welcome to webcoding</h2>
	<p>generating web things for the past fifteen years</p>
	<ul class="actions">
		<li>
			<a href="http://www.twitter.com/ouchy" class="button big">get in touch</a>
		</li>
	</ul>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="container">
		<header class="major">
			<h2>in my spare time</h2>
			<p>developing code, trying systems and combining that with open government data</p>
		</header>
		<div class="row 150%">
			<div class="4u 12u$(medium)">
				<section class="box">
					<i class="icon big rounded color1 fa-cloud"></i>
					<h3>Coding</h3>
					<p>Interested in <strong>LAMP</strong>, <strong>Twig</strong>, <strong>HTML</strong>, <strong>JS</strong>, <strong>CSS</strong>, <strong>BASH</strong>, <strong>SQL</strong>, <strong>Frameworks</strong>, <strong>C#</strong></p>
				</section>
			</div>
			<div class="4u 12u$(medium)">
				<section class="box">
					<i class="icon big rounded color9 fa-desktop"></i>
					<h3>Systems</h3>
					<p>Developing on <strong>vagrant</strong> and deploying to <strong>VPS</strong> running <strong>docker</strong> containers.</p>
				</section>
			</div>
			<div class="4u$ 12u$(medium)">
				<section class="box">
					<i class="icon big rounded color6 fa-rocket"></i>
					<h3>Disipline</h3>
					<p>Be creative and make it happen.  Don't reinvent the wheel, unless it's better </p>
				</section>
			</div>
		</div>
	</div>
</section>

<!-- Two -->
<section id="two" class="wrapper style2 special">
	<div class="container">
		<header class="major">
			<h2>current projects</h2>
			<p>things i'm currently working on in my spare time</p>
		</header>
		<section class="profiles">
			<div class="row">
				<section class="3u 6u(medium) 12u$(xsmall) profile">
					<div><li class="fa fa-sitemap cogger"></li></div>
					<h4>WCFramework</h4>
					<p>A PHP MVC Framework </p>
					<div><a href="/wcframework">see more</a></div>
				</section>
				<section class="3u 6u$(medium) 12u$(xsmall) profile">
					<div><li class="fa fa-location-arrow cogger"></li></div>
					<h4>Postcoder</h4>
					<p>A free UK postcode API service</p>
					<div><a href="/postcodeapi">see more</a></div>
					
				</section>
				<section class="3u 6u(medium) 12u$(xsmall) profile">
					<div><li class="fa fa-cloud cogger"></li></div>
					<h4>Docker</h4>
					<p>Managing docker containers</p>
					<div><a href="/dockercontainer">see more</a></div>
					
				</section>
				<section class="3u$ 6u$(medium) 12u$(xsmall) profile">
					<div><li class="fa fa-coffee cogger"></li></div>
					<h4>Learning</h4>
					<p>General learning of new tech</p>
					<div><a href="/toys">see more</a></div>
				</section>
				<section class="3u 6u(medium) 12u$(xsmall) profile">
					<div><li class="fa fa-tv cogger"></li></div>
					<h4>Screen Capture</h4>
					<p>Simple screen capturing service</p>
					<div><a href="/capture">see more</a></div>
				</section>
				<section class="3u 6u(medium) 12u$(xsmall) profile">
					<div><li class="fa fa-newspaper-o cogger"></li></div>
					<h4>News over time</h4>
					<p>Past capturing of bbc news</p>
					<div><a href="/newsovertime">see more</a></div>
				</section>
				<section class="3u 6u(medium) 12u$(xsmall) profile">
					<div><li class="fa fa-bolt cogger"></li></div>
					<h4>top 40 data for your site</h4>
					<p>top 40 charts</p>
					<div><a href="/top40">see more</a></div>
				</section>
				<section class="3u$ 6u$(medium) 12u$(xsmall) profile">
					<div><li class="fa fa-map-pin cogger"></li></div>
					<h4>Geo mapping</h4>
					<p>Visualisations of the UK</p>
					<div><a href="/geomapping">see more</a></div>
				</section>
			</div>
		</section>
		<footer>
			<p>this site is my playground for investigating new tech and tranforming interesting data into something useful for people</p>
			<ul class="actions">
				<li>
					<a href="mailto:ouchiko@gmail.com" class="button big">feel free to get in touch</a>
				</li>
			</ul>
		</footer>
	</div>
</section>

	
{% include 'system/templates/foot.html' %}