{% include 'system/templates/head.html' %}


<!-- Main -->
<section id="main" class="wrapper">
	<div class="container">

		<header class="major">
			<h2>Postcoder</h2>
			<p>A free, fully featured UK postcode API including streets and travel</p>
		</header>

		<a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a>
		<p>
			Postcoder uses the awesome <strong>ordnance survey OpenData</strong> products to create a fully featured API. The API accepts
			a full or partial postcode and responds with the closest matches (up to 20 results).  It also includes the streets most local
			to the central point of the postcode called. We've also included a local travel listing with local stations, metros and bus stops
			included in the feed.
		</p>
		<p>
			Postcoder has had all of the data converted from the UK Grid system to latitude and longitude values making your
			intergration into other services such as Google Maps easier and more fluid.
		</p>
		<p>
			Postcoder was built with the following services:
		</p>
		<p>
			<div class="icon grey">
				<img src="/images/webcoding/os-logo-footer.png"/>
			</div>
			<div class="icon">
				<img width="157" src="/images/webcoding/docker.jpg"/>
			</div>
			<div class="icon">
				<img height="123" src="/images/webcoding/vagrant.png"/>
			</div>
			<div class="icon">
			<img width="157" src="/images/webcoding/twig.jpg"/>
			</div>
			<div class="icon">
			<img width="157" src="/images/webcoding/data.png"/>
			</div>
			<div class="icon">
			<img width="157" src="php"/>
			</div>
			<div class="icon">
			<img width="157" src="mysql"/>
			</div>
			<div class="clear"></div>
		</p>

	</div>
</section>

{% include 'system/templates/foot.html' %}