{% include 'system/templates/head.html' %}

<script src="/js/vendor/webcoding/lib.js"></script>
<!-- Main -->
<section id="main" class="wrapper">
	<div class="container">

		<header class="major">
			<h2>wc (mvc) framework</h2>
			<p>my own custom built php framework for this website</p>
		</header>

		<p>
			wcframework runs the webcoding website.  it's made up of a core application layer, a MVC layer which operates individual
			pages and functions along with some configuration files for routing and settings.  it's pretty tidy!
		</p>
		<p>
			
		</p>
		
		
		
	</div>
</section>


{% include 'system/templates/foot.html' %}