<!DOCTYPE html>
<html>
<head>
	<title>Postcoder</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	{% for stylesheet in pagedata.stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ stylesheet }}">
    {% endfor %}

    {% for jsfile in pagedata.js %}
    <link rel="stylesheet" type="text/css" href="{{ jsfile }}">
    {% endfor %}
</head>
<body>
	<div class="header clear">
		<div class="title">Postcoder API</div>
		<div class="options">
			<a href="/postcoder/">Home</a> |
			<a href="/postcoder/api">API</a> |
			<a href="//github.org/ouchiko/phpframe">This framework</a> |
			<a href="//github.org/ouchiko/ukord-postcode">Postcode data</a>
		</div>
	</div>

	