pre {
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans";
    font-weight: 400;
}
.header {
    padding: 10px;
    background-color: #000;
    color: #fff;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 5px solid #FF9104;
}
.title {
    font-size: 25px;
    float: left;
}
.options {
    float: right;
    margin-top: 10px;
    color: #fff;
}
h1 {
    padding: 0px;
}
.clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.options a, .links a {
    font-size: 15px;
    color: #FFF;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
    padding: 10px;
    border-top: 5px solid #FF9104;
}
.about {
    float: left;
    color: #fff;
    font-weight: 600;
}
.links {
    float: right;
    color: #fff;
}
.content {
    padding: 50px;
    margin-bottom: 40px;
}
.base {
    font-size: 25px;
}
.body {
    margin-top: 13px;
    line-height: 28px;
}
.content a {
    color: #E75422;
    font-weight: 600;
}
.codeheading {
    background-color: #E75422;
    color: #fff;
    padding: 10px;
    font-weight: 600;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.subtitle {
    font-size: 16px;
    font-weight: 600;
    margin-top: 25px;
    padding-bottom: 4px;
    border-bottom: 2px solid #cecece;
}
pre {
    margin-top: 0px !important;
    border: 1px solid #888;
}
.codesection {
    margin-left: 15px !important;
    margin-right: 15px !important;
    margin-top: 25px;
    margin-bottom: 25px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}